[Unit]
Description=eGlobalShop customer service pod

# dummy
[Kube]
Yaml={{ m_dataDir "test-service-dotnet" }}/kube/pod.yaml
AutoUpdate=registry
LogDriver=journald
PodmanArgs=--authfile=%h/.config/containers/auth.json

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target default.target
