[Unit]
Description=eGlobalShop customer service pod

[Kube]
Yaml={{ m_dataDir "dotnet-service" }}/kube/pod.yaml
AutoUpdate=registry
LogDriver=journald
PodmanArgs=--authfile=%h/.config/containers/auth.json

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target default.target